#canvas {
    height: 600px;
    width: 150px;
}

#hanger {
    height: 150px;
    width: 75px;
    margin: auto;
}

#main-box {
    height: 450px;
    width: 150px;
    margin: auto;
}

.light {
    border-radius: 60px;
    margin: auto;
}

.light-container {
    height: 150px;
    width: 150px;
}


.dark-gray {
    background-color: #333333;
}

.gray {
    background-color: #3c3b41;
}

.red {
    background-color: #da656b;
}

.yellow {
    background-color: #f5f384;
}

.green {
    background-color: #7ef07f;
}