#canvas {
    height: 600px;
    width: 150px;
}

#hanger {
    height: 150px;
    width: 75px;
}

#main-box {

}

.light {
    border-radius: 60px;
}

.dark-gray {
    color: #333333;
}

.gray {
    color: #3c3b41;
}

.red {
    color: #da656b;
}

.yellow {
    color: #f5f384;
}

.green {
    color: #7ef07f;
}