#canvas {
    height: 800px;
    width: 325px;
}

#hanger {
    height: 150px;
    width: 75px;
    margin: auto;
}

#main-box {
    height: 450px;
    width: 150px;
    margin: auto;
}

.light {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: auto;
}

.light-container {
    height: 22px;
    width: 150px;
}


.dark-gray {
    background-color: #333333;
}

.gray {
    background-color: #3c3b41;
}

.red {
    background-color: #da656b;
}

.red:hover {
    background-color: #f18f94;
}

.yellow {
    background-color: #f5f384;
}

.green {
    background-color: #7ef07f;
}